.RoomBox{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.loadingBox {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 2;
}
.leftBox {
  display: inline-block;
  width: 80vw;
  height: 100vh;
}
.remoteVideo {
  width: calc(80vw - 10px);
  height: 100vh;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #333;
}
.rightBox {
  display: inline-block;
  width: 20vw;
  height: 100vh;
  overflow: hidden;
}
.localVideo {
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 20vw;
  background-color: #333;
}
.btnBox {
  width: 20vw;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  border-bottom: 2px solid #ddd;
}
.btnItem {
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 5px #333;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}
.btnItem svg {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}
