:root {
  --backgroundColorLevel_1: #fff;
  --backgroundColorLevel_2: #ddd;

  --fontColorLevel_1: #000;
  --fontColorLevel_2: #666;
  --fontColorLevel_3: #aaa;
}
.homeBox {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  color: #000;
}
.mainBox {
  width: 100vw;
  height: calc(85vh - 10px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: var(--backgroundColorLevel_1);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}
.roomBox {
  width: 100vw;
  height: calc(85vh - 10px);
  box-sizing: border-box;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  user-select: none;
}

.infoBox {
  position: relative;
  width: 100vw;
  height: 15vh;
  margin-top: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: var(--backgroundColorLevel_1);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);

  overflow: hidden;
}
.nickname {
  margin-top: 20px;
  margin-left: 20px;

  color: var(--fontColorLevel_1);
  font-size: 24px;
}
.channel {
  margin-left: 10px;

  color: var(--fontColorLevel_3);
  font-size: 14px;
}
.roomInfo {
  margin-top: 10px;
  margin-left: 20px;
  display: inline-block;
  width: 60vw;
  max-height: 30px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  color: var(--fontColorLevel_2);
}
abbr{
  text-decoration: none;
}
.chooseBox {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 150px;
  height: calc(15vh - 20px);
  user-select: none;
  border-radius: 10px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  animation: showChooseBox .4s linear forwards;
}
.chooseChannel {
}
.chooseBtnBox{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.chooseBtnItem {
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
@keyframes showChooseBox {
  0%{
    transform: translateX(150%);
  }
  100%{
    transform: translateX(0);
  }
}
