:root {
  --backgroundColorLevel_1: #fff;
  --backgroundColorLevel_2: #ddd;

  --fontColorLevel_1: #000;
  --fontColorLevel_2: #666;
  --fontColorLevel_3: #aaa;
}
.homeBox {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  color: #000;
}
.mainBox {
  position: relative;

  width: 100vw;
  height: calc(85vh - 10px);

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  background: var(--backgroundColorLevel_1);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}
.roomBox {
  box-sizing: border-box;
  padding: 10px 20px;
  width: 100vw;
  height: calc(85vh - 50px);

  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;

  user-select: none;
}
.refash {
  position: absolute;
  bottom: 10px;
  right: 10px;

  width: 30px;
  height: 30px;

  cursor: pointer;
}
.infoBox {
  position: relative;

  margin-top: 10px;
  width: 100vw;
  height: 15vh;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: var(--backgroundColorLevel_1);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);

  overflow: hidden;
}
.leftBtnBox {
  width: 40px;
  height: 15vh;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  gap: 10px;
}
.writeBtn,
.confirmWriteBtn,
.closeWriteBoxBtn {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.nickname {
  margin-top: 10px;
  margin-left: 40px;

  display: inline-block;
  color: var(--fontColorLevel_1);
  font-size: 24px;

  cursor: pointer;
}
.channel {
  margin-left: 20px;

  display: inline-block;
  width: 30vw;

  color: var(--fontColorLevel_3);
  font-size: 14px;
  cursor: default;
}
.roomInfo {
  margin-top: 10px;
  margin-left: 40px;
  width: 60vw;
  max-height: 30px;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  color: var(--fontColorLevel_2);
}
abbr {
  text-decoration: none;
}
.writeBox {
  position: absolute;
  top: 0;
  left: 40px;

  width: 70vw;
  height: 15vh;
  background-color: #fff;
}
.writeBox input {
  border: none;
  outline: none;
  margin-top: 5px;
  padding: 5px 10px 0px 5px;
  box-sizing: border-box;
  border-bottom: 1px solid #000;

  text-align: left;
  font-size: 24px;

  animation: showWriteBox 0.1s linear forwards;
}
.writeBox input:nth-child(1) {
  width: 40%;
}
.writeBox input:nth-child(2) {
  width: 100%;
  font-size: 16px;
}
.chooseBox {
  position: absolute;
  top: 10px;
  right: 20px;

  width: 150px;
  height: calc(15vh - 20px);

  border-radius: 10px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  text-align: center;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  animation: showChooseBox 0.4s linear forwards;
  user-select: none;
}
.chooseChannel {
}
.chooseBtnBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.chooseBtnItem {
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

@keyframes showChooseBox {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes showWriteBox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
