.box {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.state{

}
.inputbox{
  margin: 20px 0;
}
.watchBtn{
  display: inline-block;
  width: 100px;
  height: 30px;

  text-align: center;
  line-height: 30px;

  color: #fff;
  background-color: yellowgreen;

  cursor: pointer;
}
.shareBtn{
  display: inline-block;
  width: 100px;
  height: 30px;

  text-align: center;
  line-height: 30px;

  color: #fff;
  background-color: skyblue;

  cursor: pointer;
}
.endBtn{
  display: inline-block;
  width: 100px;
  height: 30px;

  text-align: center;
  line-height: 30px;

  color: #fff;
  background-color: red;

  cursor: pointer;
}