.box {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
}
.inputbox {
  margin: 20px 0;
}
.callBtn {
  display: inline-block;
  width: 100px;
  height: 30px;

  text-align: center;
  line-height: 30px;

  background-color: yellowgreen;

  cursor: pointer;
}
.chooseBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 100px;
  background-color: #000;
  border-radius: 10px;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.acceptBtn {
  display: inline-block;
  width: 70px;
  height: 35px;
  color: green;
  line-height: 35px;

  background-color: #fff;
}
.rejectBtn {
  display: inline-block;
  width: 70px;
  height: 35px;
  color: red;
  line-height: 35px;
  background-color: #fff;
}
.localVideo{
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 200px;
  height: 200px;
}
.remoteVideo{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
}